@model IEnumerable<Paulo2Prueba2.Models.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PlantillaPaulo.cshtml";
}

@{ 
    //Para saber la cantidad total de productos
    int totalProductos=0;
    foreach(var categoriaaa in Model)
    {
        foreach( var productoo in categoriaaa.Producto)
        {
            totalProductos++;
        }
    }
    //@totalProductos;
}


<h2>Resumen</h2>

<p>
    Resumen del catalogo de Fabrica UNO:
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                Cantidad de productos:
                @item.Producto.Count()
                <br />
                Precio promedio:
                @{ 
                    int suma=0;
                    int cantidad=0;
                    int promedio = 0;
                    foreach( var producto in item.Producto)
                    {
                        suma =+ producto.precio;
                        cantidad++;

                    }
                    if (cantidad == 0)
                    {
                        promedio = 0;
                    }
                    else
                    {
                        promedio = suma / cantidad;
                    }

                    @promedio
                }
                <br />
                Porcentaje de productos en esta categoria:
                @((cantidad*100)/totalProductos)
                

            </td>
        </tr>
    }

</table>

<table class="table">


</table>

