@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Fabrica UNO</h1>
    <p class="lead">Fabrica UNO es un conglomerado industrial de origen chino.</p>
    <p><a href="https://es.aliexpress.com/" class="btn btn-danger btn-lg">Aprender más &raquo;</a></p>
</div>

<div class="row">
    
</div>